/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*Fonts*/

/*Variables*/
:root {
  --basic-black: #000;
  --basic-white: #fff;

  --main-text-color: #283136;
  --contact-text-color: #666;

  --basic-red: #fb565a;

  --button-color-red: #fb565a;
  --button-color-red-hover: #e74246;
  --button-color-red-active: #d7373b;

  --button-color-green: #00ca74;
  --button-color-green-hover: #00bc6c;
  --button-color-green-active: #00aa62;

  --button-color-yellow: #efc849;
  --button-color-yellow-hover: #eab534;
  --button-color-yellow-active: #e5a722;

  --basic-grey: #eee;
  --basic-gray-hover: #dfdfdf;
  --basic-gray-active: #d5d5d5;
  --radio-grey: #4d4d4d;

  --scale-color: #d7dcdf;
  --toggle-color: #ababab;

  --current-pagination-item: #dbdbdb;

  --current-slider-controls: #c1c1c1;

  --social-basic-color: #e1e1e1;

  --catalog-win-color: rgba(77, 77, 77, 0.12);
  --catalog-win-color-hover: rgba(77, 77, 77, 1);
}
/*Variables*/

/* Global */
.page {
  height: 100%;
}

.container {
  padding: 0 20px 0 20px;
  width: 1157px;
  margin: 0 auto;
}

.page-body {
  min-width: 1177px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-color);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.page-body ul {
  list-style: none;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding-top: 17px;
  padding-bottom: 15px;
  padding: 17px 0 15px 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Global */

/* main-header */
.main-header {
  background-color: var(--catalog-win-color);
  padding-top: 50px;
}

.main-header .container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-nav {
  justify-self: center;
  padding-top: 26px;
}

.main-nav a,
.basket-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.basket-link {
  padding-top: 26px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-nav-link {
  display: block;
}

.site-nav-item:not(:last-child) {
  margin-right: 45px;
}

.basket-link {
  justify-self: end;
  padding-left: 40px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 25px;
  width: 15px;
  height: 15px;
  background: url(../img/cart-icon.svg) no-repeat center center;
}

.main-nav a:hover,
.basket-link:hover,
.main-nav a:focus,
.basket-link:focus {
  color: var(--basic-red);
}

.main-nav a:active,
.basket-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* main-header */

/* main*/
.features {
  padding: 78px 0 80px 0;
  background-color: var(--catalog-win-color);
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 97px;
  display: flex;
  justify-content: space-around;
  width: 88px;
}

.slider-controls button {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  z-index: 20;
}

.slider-controls .current-slider-controls::before {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--current-slider-controls);
  border-radius: 50%;
}

.current-slide {
  display: block;
}

.features-list {
  margin: 0;
  padding: 0;
}

.feature-item {
  position: relative;
}

.feature-item-title {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.feature-item-text {
  margin-bottom: 38px;
}

.feature-item-img {
  position: absolute;
  top: -80px;
  right: 0;
}

.features-button {
  width: 240px;
}

.features-button:hover {
  background-color: var(--button-color-red-hover);
}

.features-button:active {
  background-color: var(--button-color-red-active);
}

.services {
  padding: 80px 0 80px 0;
  border-bottom: 2px solid var(--basic-grey);
}

.services-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-item {
  width: 360px;
}

.service-item:first-child::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background: url(../img/illustration-1.jpg) no-repeat center center;
}

.service-item:nth-child(2)::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background: url(../img/illustration-2.jpg) no-repeat center center;
}

.service-item:last-child::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background: url(../img/illustration-3.jpg) no-repeat center center;
}

.services-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-button {
  line-height: 18px;
  margin-top: 32px;
  width: 160px;
}

.service-web-button {
  background-color: var(--button-color-red);
}
.service-web-button:hover,
.service-web-button:focus {
  background-color: var(--button-color-red-hover);
}
.service-web-button:active {
  background-color: var(--button-color-red-active);
}

.service-app-button {
  background-color: var(--button-color-green);
}
.service-app-button:hover,
.service-app-button:focus {
  background-color: var(--button-color-green-hover);
}
.service-app-button:active {
  background-color: var(--button-color-green-active);
}

.service-presentation-button {
  background-color: var(--button-color-yellow);
}
.service-presentation-button:hover,
.service-presentation-button:focus {
  background-color: var(--button-color-yellow-hover);
}
.service-presentation-button:active {
  background-color: var(--button-color-yellow-active);
}

.about-us-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 39px 0 73px 0;
  border-bottom: 2px solid var(--basic-grey);
}

.about-us {
  min-width: 651px;
}

.about-us-text:first-child {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  color: var(--basic-black);
}

.about-us-text:nth-child(2) {
  margin-bottom: 0;
}

.about-us-list-title {
  margin-top: 40px;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-list {
  margin: 0;
  padding: 0;
}

.about-us-item {
  margin-left: 40px;
  position: relative;
}

.about-us-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 25px;
  background-color: var(--basic-red);
  left: -40px;
  top: 10px;
}

.about-us-aside {
  width: 360px;
  justify-self: end;
}

.about-us-aside-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 37px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-us-aside-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-us-aside-item dl,
.about-us-aside-item dt,
.about-us-aside-item dd {
  margin: 0;
  padding: 0;
}

.about-us-aside-item dt {
  margin-bottom: 10px;
}

.about-us-aside-item dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.item-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.clients-list {
  display: flex;
  margin: 0;
  justify-content: space-between;
  border-bottom: 2px solid var(--basic-grey);
  padding: 64px 0 64px 0;
}

.client-item {
  display: flex;
  justify-content: space-around;
  height: 52px;
  width: 298px;
}

.client-item-logo {
  align-self: center;
}

.clients-list .client-item-logo img {
  opacity: 0.2;
}

.client-item p {
  display: none;
}

.client-item:not(:last-child) {
  border-right: 2px solid var(--basic-grey);
}

.client-item-logo img:hover {
  opacity: 1;
}
.client-item-logo img:focus {
  opacity: 1;
}
.client-item-logo img:active {
  opacity: 0.1;
}
/* main */

/* footer */
.footer-top {
  padding-top: 80px;
  position: relative;
}

.contacts {
  position: absolute;
  top: 134px;
  background-color: #fff;
  padding: 50px;
}

.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 23px 0;
}

.contacts-text {
  line-height: 18px;
  color: var(--contact-text-color);
  margin-bottom: 20px;
}

.contacts-phone {
  color: inherit;
  line-height: 18px;
  color: var(--contact-text-color);
}

.contacts-button {
  margin-top: 38px;
  width: 219px;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: var(--button-color-red-hover);
}

.contacts-button:active {
  background-color: var(--button-color-red-active);
}

.map img {
  height: 416px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 68px 0 68px 0;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.social-item:not(:last-child) {
  margin-right: 9px;
}

.social-link {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--social-basic-color);
}

.link-vk {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.link-fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.link-inst {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link:hover {
  background-color: var(--button-color-red-hover);
}

.social-link:focus {
  background-color: var(--button-color-red-hover);
}

.social-link:active {
  background-color: var(--button-color-red-active);
}

.friendly-block p:first-of-type {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.friendly-block p:last-of-type {
  line-height: 22px;
}
/* footer */

/* catalog */
.site-nav-link {
  padding-bottom: 13px;
}

.current-site-nav-link {
  border-bottom: 2px solid var(--basic-red);
}

.catalog-title-wrapper {
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--catalog-win-color);
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
}

.filter-block fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.filter-block ul {
  margin: 0;
  padding: 0;
}

.main-catalog-content {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 30px auto;
  padding-top: 55px;
  column-gap: 140px;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  color: var(--basic-black);
}

.range-controls {
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-top: 39px;
  margin-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  width: 100%;
  background-color: var(--scale-color);
}

.range-controls .bar {
  height: 2px;
  background-color: var(--button-color-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--toggle-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.price-controls {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 80px;
  margin-left: 12px;
  padding: 8px 0 8px 0;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: var(--basic-grey);
}

.features-filter {
  margin-bottom: 50px;
}

.grid-filter-item label,
.features-filter-item label {
  display: block;
  line-height: 19px;
  margin-left: 36px;
  position: relative;
  cursor: pointer;
}

.grid-filter-item:not(:last-child),
.features-filter-item:not(:last-child) {
  margin-bottom: 20px;
}

.grid-filter-item input + label::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border: 4px solid var(--radio-grey);
  border-radius: 50%;
  left: -36px;
  top: -5px;
  opacity: 0.4;
}

.grid-filter-item input:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 5px;
  left: -26px;
  background-color: var(--radio-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.grid-filter-item:hover input + label::before,
.grid-filter-item:hover input:checked + label::after {
  opacity: 1;
}

.features-filter-item input + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--radio-grey);
  border-radius: 3px;
  left: -36px;
  top: -5px;
  opacity: 0.4;
}

.features-filter-item input:checked + label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 22px;
  top: -6px;
  left: -34px;
  background: url(../img/shape-features-filter.svg) no-repeat center center;
}

.features-filter-item:hover input + label::before {
  opacity: 1;
}

.features-filter-item:hover input:checked + label::after {
  background: url(../img/shape-features-filter-not-opacity.svg) no-repeat center
    center;
}

.filter-block-button {
  font-weight: 500;
  line-height: 18px;
  width: 260px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.filter-block-button:hover {
  background-color: var(--basic-gray-hover);
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sort-title {
  margin-right: auto;
}

.sort-by-property-item:not(:last-child) {
  margin-right: 25px;
}

.sort-by-property-list,
.sort-from-to-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sort-by-property-link,
.sort-from-to-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.sort-from-to-list {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  display: flex;
  width: 40px;
  justify-content: space-between;
}

.sort-from-to-link {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 11px;
  height: 10px;
  vertical-align: middle;
}

.sort-down {
  background: url(../img/icon-down-dir.svg) no-repeat center center;
}

.sort-up {
  transform: rotate(180deg);
  background: url(../img/icon-down-dir.svg) no-repeat center center;
}

.sort-by-property-link:hover,
.sort-from-to-link:hover {
  opacity: 0.6;
}

.current-sort-link {
  opacity: 1;
}

.products {
  padding-top: 48px;
  grid-column: 2/3;
  grid-row: 2/-1;
  row-gap: 31px;
  column-gap: 42px;
}

.products-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 31px;
  column-gap: 42px;
}

.product-card {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 620px;
}
/* почему  */

.product-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.card-top {
  background-color: var(--catalog-win-color);
  width: 100%;
  height: 40px;
}

.product-card:hover .card-top {
  background-color: var(--radio-grey);
}

.product-card-wrapper {
  position: absolute;
  text-align: center;
  background-color: var(--basic-grey);
  padding: 26px 45px 44px 45px;
  z-index: -1;
  bottom: 0px;
}

.product-card:hover .product-card-wrapper {
  z-index: 1;
}

.product-list li:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-top-circles {
  margin-left: 16px;
}

.product-card .circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 13px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: var(--basic-black);
}

.card-title:hover,
.card-title:focus {
  color: var(--basic-red);
}
.card-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.card-text {
  line-height: 18px;
  margin-bottom: 32px;
  color: var(--contact-text-color);
}

.card-button {
  width: 200px;
}

.card-button:hover,
.card-button:focus {
  background-color: var(--button-color-red-hover);
}

.card-button:active {
  background-color: var(--button-color-red-active);
}

.pagination-list {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-gray-hover);
}

.current-pagination-item a {
  background-color: transparent;
  border: 3px solid var(--current-pagination-item);
  border-radius: 3px;
  width: 44px;
  height: 44px;
}

.pagination-item:last-child a {
  width: 260px;
}
/* catalog */

/*blank page*/
.page-blank .main-header {
  padding-bottom: 50px;
}

.blank-title {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}
/*blank page*/
