/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*Fonts*/

/*Variables*/
:root {
  --basic-black: #000;
  --basic-white: #fff;

  --main-text-color: #283136;
  --contact-text-color: #666;

  --basic-red: #fb565a;

  --button-color-red: #fb565a;
  --button-color-red-hover: #e74246;
  --button-color-red-active: #d7373b;

  --button-color-green: #00ca74;
  --button-color-green-hover: #00bc6c;
  --button-color-green-active: #00aa62;

  --button-color-yellow: #efc849;
  --button-color-yellow-hover: #eab534;
  --button-color-yellow-active: #e5a722;

  --basic-grey: #eee;
  --basic-gray-hover: #dfdfdf;
  --basic-gray-active: #d5d5d5;
  --current-pagination-item: #dbdbdb;

  --catalog-win-color: rgba(77, 77, 77, 0.12);
  --catalog-win-color-hover: rgba(77, 77, 77, 1);
}
/*Variables*/

/* Global */
.page {
  height: 100%;
}

.container {
  width: 1157px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.page-body {
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-color);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.page-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* Global */

/* main-header */
.main-header {
  background-color: var(--catalog-win-color);
}

.main-header .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-nav {
  justify-self: center;
}

.main-nav a,
.basket-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.basket-link {
  justify-self: end;
}

.main-nav a:hover,
.basket-link:hover,
.main-nav a:focus,
.basket-link:focus {
  color: var(--basic-red);
}
/* main-header */

/* main*/
.features {
  background-color: var(--catalog-win-color);
}

.feature-item-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.features-button {
  background-color: var(--basic-red);
}

.features-button:hover {
  background-color: var(--button-color-red-hover);
}

.features-button:active {
  background-color: var(--button-color-red-active);
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.services-button {
  line-height: 18px;
}

.service-web-button {
  background-color: var(--button-color-red);
}
.service-web-button:hover,
.service-web-button:focus {
  background-color: var(--button-color-red-hover);
}
.service-web-button:active {
  background-color: var(--button-color-red-active);
}

.service-app-button {
  background-color: var(--button-color-green);
}
.service-app-button:hover,
.service-app-button:focus {
  background-color: var(--button-color-green-hover);
}
.service-app-button:active {
  background-color: var(--button-color-green-active);
}

.service-presentation-button {
  background-color: var(--button-color-yellow);
}
.service-presentation-button:hover,
.service-presentation-button:focus {
  background-color: var(--button-color-yellow-hover);
}
.service-presentation-button:active {
  background-color: var(--button-color-yellow-active);
}

.about-us-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-us-text:first-child {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us-list-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-item {
  position: relative;
}

.about-us-item::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 25px;
  background-color: var(--basic-red);
  left: -40px;
  top: 10px;
}

.about-us-aside-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-us-aside-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-us-aside-item dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.item-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client-item-logo img {
  opacity: 0.2;
}

.client-item-logo img:hover {
  opacity: 1;
}
.client-item-logo img:focus {
  opacity: 1;
}
.client-item-logo img:active {
  opacity: 0.1;
}
/* main */

/* footer */
.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-text {
  line-height: 18px;
}

.contacts-phone {
  color: inherit;
  line-height: 18px;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: var(--button-color-red-hover);
}

.contacts-button:active {
  background-color: var(--button-color-red-active);
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.friendly-block p:first-of-type {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.friendly-block p:last-of-type {
  line-height: 22px;
}
/* footer */

/* catalog */
.current-site-nav-link {
  border-bottom: 2px solid var(--basic-red);
}

.catalog-title-wrapper {
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--catalog-win-color);
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
}

.filter-block fieldset {
  border: none;
}

.main-catalog-content {
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  grid-template-rows: 30px auto;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.grid-filter-item label,
.features-filter-item label {
  line-height: 19px;
}
.filter-block-button {
  font-weight: 500;
  line-height: 18px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.sorting {
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
}

.sort-by-property-item:not(:last-child) {
  margin-right: 25px;
}

.sort-by-property-list,
.sort-from-to-list {
  display: flex;
  justify-content: space-between;
}

.sort-by-property-link,
.sort-from-to-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.sort-by-property-link:hover,
.sort-from-to-link:hover {
  opacity: 0.6;
}

.current-sort-link {
  opacity: 1;
}

.products {
  grid-column: 2/4;
  grid-row: 2/-1;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 31px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.card-title:hover,
.card-title:focus {
  color: var(--basic-red);
}
.card-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.card-text {
  line-height: 18px;
  color: var(--contact-text-color);
}

.card-button:hover,
.card-button:focus {
  background-color: var(--button-color-red-hover);
}

.card-button:active {
  background-color: var(--button-color-red-active);
}

.pagination-list {
  display: flex;
  justify-content: start;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-gray-hover);
}

.pagination-item a:active {
  background-color: var(--basic-gray-active);
}

.current-pagination-item a {
  background-color: transparent;
  border: 3px solid var(--current-pagination-item);
  border-radius: 3px;
}
/* catalog */
