/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*Fonts*/

/*animations*/
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes modal-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*animations*/

:root {
  --basic-black: #000;
  --basic-white: #fff;
  --range-controls-button: #f1f1f1;

  --main-text-color: #283136;
  --contact-text-color: #666;

  --basic-red: #fb565a;

  --button-color-red: #fb565a;
  --button-color-red-hover: #e74246;
  --button-color-red-active: #d7373b;

  --button-color-green: #00ca74;
  --button-color-green-hover: #00bc6c;
  --button-color-green-active: #00aa62;

  --button-active: rgba(255, 255, 255, 0.3);
  --button-active-shadow: rgba(0, 1, 1, 0.1);

  --button-color-yellow: #efc849;
  --button-color-yellow-hover: #eab534;
  --button-color-yellow-active: #e5a722;

  --basic-grey: #eee;
  --basic-gray-hover: #dfdfdf;
  --basic-gray-active: #d5d5d5;
  --radio-grey: #4d4d4d;

  --range-controls-shadow: rgba(0, 0, 0, 0.15);

  --input-hover-color: #b4b9bb;

  --scale-color: #d7dcdf;
  --toggle-color: #ababab;

  --current-pagination-item: #dbdbdb;
  --active-pagination-item: rgba(0, 0, 0, 0.3);

  --current-slider-controls: #c1c1c1;

  --social-basic-color: #e1e1e1;
  --social-link-active-shadow: rgba(0, 1, 1, 0.1);

  --catalog-win-color: rgba(77, 77, 77, 0.12);
  --catalog-win-color-hover: rgba(77, 77, 77, 1);

  --product-card-border: rgba(0, 0, 0, 0.1);
  --product-card-shadow: rgba(0, 0, 0, 0.25);

  --darker-pagination-item: rgba(0, 1, 1, 0.1);

  --modal-shadow: rgba(0, 0, 0, 0.4);
}
/*Variables*/

/* Global */
.page {
  height: 100%;
}

.container {
  padding: 0 20px 0 20px;
  width: 1160px;
  margin: 0 auto;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-color);
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.page-body ul {
  list-style: none;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 17px 0 15px 0;
}

.button:active {
  color: var(--button-active);
  -webkit-box-shadow: inset 0px 3px 0px var(--button-active-shadow);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Global */

/* main-header */
.main-header {
  background-color: var(--catalog-win-color);
  padding-top: 50px;
}

.main-header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-nav {
  -ms-grid-column-align: center;
  justify-self: center;
  padding-top: 27px;
}

.main-nav a,
.basket-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.basket-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 27px;
  height: 73px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-nav-link {
  display: block;
}

.site-nav-item:not(:last-child) {
  margin-right: 45px;
}

.basket-link {
  -ms-grid-column-align: end;
  justify-self: end;
  padding-left: 40px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 25px;
  width: 15px;
  height: 15px;
  background: url(../img/cart-icon.svg) no-repeat center center;
}

.main-nav a:hover,
.basket-link:hover,
.main-nav a:focus,
.basket-link:focus {
  color: var(--basic-red);
}

.main-nav a:active,
.basket-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* main-header */

/* main*/
.features {
  padding: 70px 0 80px 0;
  background-color: var(--catalog-win-color);
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  bottom: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-width: 88px;
}

.slider-controls button {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  z-index: 20;
  cursor: pointer;
}

.slider-controls .current-slider-control::before {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--current-slider-controls);
  border-radius: 50%;
}

.slide {
  display: none;
}

.current-slide {
  display: block;
}

.features-list {
  margin: 0;
  padding: 0;
}

.feature-item {
  position: relative;
}

.feature-item-title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-bottom: 27px;
  max-width: 514px;
}

.feature-item-text {
  margin-top: 0;
  margin-bottom: 36px;
  max-width: 450px;
}

.feature-item-img {
  position: absolute;
  top: -80px;
  right: 0;
}

.features-button {
  width: 240px;
}

.features-button:hover {
  background-color: var(--button-color-red-hover);
}

.features-button:active {
  background-color: var(--button-color-red-active);
}

.services {
  padding: 81px 0 80px 0;
  border-bottom: 2px solid var(--basic-grey);
}
.services-list {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
}

.service-item {
  width: 300px;
}

.service-item:first-child::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background: url(../img/illustration-1.jpg) no-repeat center center;
}

.service-item:nth-child(2)::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background: url(../img/illustration-2.jpg) no-repeat center center;
}

.service-item:last-child::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background: url(../img/illustration-3.jpg) no-repeat center center;
}

.services-item-title {
  margin: 25px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item-text {
  margin-bottom: 33px;
}

.services-button {
  line-height: 16px;
  width: 160px;
}

.service-web-button {
  background-color: var(--button-color-red);
}
.service-web-button:hover,
.service-web-button:focus {
  background-color: var(--button-color-red-hover);
}
.service-web-button:active {
  background-color: var(--button-color-red-active);
}

.service-app-button {
  background-color: var(--button-color-green);
}
.service-app-button:hover,
.service-app-button:focus {
  background-color: var(--button-color-green-hover);
}
.service-app-button:active {
  background-color: var(--button-color-green-active);
}

.service-presentation-button {
  background-color: var(--button-color-yellow);
}
.service-presentation-button:hover,
.service-presentation-button:focus {
  background-color: var(--button-color-yellow-hover);
}
.service-presentation-button:active {
  background-color: var(--button-color-yellow-active);
}

.about-us-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0 73px 0;
  border-bottom: 2px solid var(--basic-grey);
}

.about-us {
  min-width: 652px;
}

.about-us-text:first-child {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 35px;
  margin-bottom: 32px;
  color: var(--basic-black);
}

.about-us-text:nth-child(2) {
  margin-top: 0;
  margin-bottom: 42px;
}

.about-us-list-title {
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-list {
  margin: 0;
  padding: 0;
}

.about-us-item {
  margin-left: 36px;
  position: relative;
}

.about-us-item:not(:last-child) {
  margin-bottom: 24px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 25px;
  background-color: var(--basic-red);
  left: -36px;
  top: 10px;
}

.about-us-aside {
  width: 360px;
  -ms-grid-column-align: end;
  justify-self: end;
  padding-top: 215px;
  background: url(../img/nerds-illustration.jpg) no-repeat top center;
}

.about-us-aside-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 30px 0;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-us-aside-list {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-us-aside-item dl,
.about-us-aside-item dt,
.about-us-aside-item dd {
  margin: 0;
  padding: 0;
}

.about-us-aside-item dt {
  margin-bottom: 10px;
}

.about-us-aside-item dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.about-us-aside-item dd {
  line-height: 20px;
}

.item-percent {
  font-size: 26px;
  line-height: 48px;
  vertical-align: top;
}

.clients-list {
  width: 1158px;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 40px 0 44px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 279px 298px 298px 279px;
  grid-template-columns: 279px 298px 298px 279px;
  border-bottom: 1px solid var(--basic-grey);
}

.client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
}

.client-item::after {
  content: "";
  width: 2px;
  height: 52px;
  right: -2px;
  top: 22px;
  display: block;
  position: absolute;
  background-color: var(--basic-grey);
}

.client-item:nth-child(4n)::after {
  display: none;
}

.client-item-logo {
  display: block;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.client-item-logo img {
  opacity: 0.2;
}

.client-item-logo img:hover {
  opacity: 1;
}
.client-item-logo img:focus {
  opacity: 1;
}
.client-item-logo img:active {
  opacity: 0.1;
}
/* main */

/* footer */
.footer-top {
  padding-top: 60px;
  position: relative;
}

.contacts {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 114px;
  background-color: var(--basic-white);
  padding: 50px;
  padding-right: 55px;
  width: 318px;
}

.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 23px 0;
}

.contacts-text {
  line-height: 18px;
  color: var(--contact-text-color);
  margin: 0;
  margin-bottom: 17px;
}

.contacts-phone {
  display: block;
  color: inherit;
  line-height: 18px;
  color: var(--contact-text-color);
  margin-bottom: 38px;
}

.contacts-button {
  width: 219px;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: var(--button-color-red-hover);
}

.contacts-button:active {
  background-color: var(--button-color-red-active);
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.map img {
  height: 416px;
}

.map iframe {
  width: 100%;
}

.map iframe + img {
  display: none;
}

.footer-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  padding: 69px 0 68px 0;
}
.social-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-item:not(:last-child) {
  margin-right: 9px;
}

.social-link {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--social-basic-color);
}

.link-vk {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.link-fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.link-inst {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link:hover {
  background-color: var(--button-color-red-hover);
}

.social-link:focus {
  background-color: var(--button-color-red-hover);
}

.social-link:active {
  background-color: var(--button-color-red-active);
  -webkit-box-shadow: inset 0px 3px 0px var(--social-link-active-shadow);
  box-shadow: inset 0px 3px 0px var(--social-link-active-shadow);
}

.link-vk:active {
  background-image: url(../img/vk-icon-darker.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.link-fb:active {
  background-image: url(../img/fb-darker.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.link-inst:active {
  background-image: url(../img/../img/insta-icon-darker.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.friendly-block {
  padding-top: 7px;
  padding-left: 13px;
}

.friendly-block p:first-of-type {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.friendly-block p:last-of-type {
  line-height: 22px;
  margin: 0;
}
/* footer */

/* catalog */
.site-nav-link {
  padding-bottom: 13px;
}

.current-site-nav-link {
  border-bottom: 2px solid var(--basic-red);
}

.catalog-title-wrapper {
  padding-top: 34px;
  padding-bottom: 70px;
  background-color: var(--catalog-win-color);
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
}

.filter-block fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-block ul {
  margin: 0;
  padding: 0;
}

.main-catalog-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 140px 1fr;
  grid-template-columns: 260px 1fr;
  -ms-grid-rows: 78px auto;
  grid-template-rows: 78px auto;
  padding-top: 55px;
  -webkit-column-gap: 140px;
  -moz-column-gap: 140px;
  column-gap: 140px;
}

.main-catalog-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-catalog-content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main-catalog-content > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.main-catalog-content > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.filter-block .price-filter {
  display: block;
  margin-bottom: 55px;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  color: var(--basic-black);
}

.price-title {
  margin-bottom: 48px;
}

.range-filter {
  width: 216px;
}

.range-controls {
  height: 41px;
  background-color: var(--range-controls-button);
  border-radius: 5px;
  padding-top: 39px;
  margin-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  width: 216px;
}

.range-controls .scale {
  height: 2px;
  width: 100%;
  background-color: var(--scale-color);
}

.range-controls .bar {
  height: 2px;
  background-color: var(--button-color-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--toggle-color);
  -webkit-box-shadow: 0px 2px 1px var(--range-controls-shadow);
  box-shadow: 0px 2px 1px var(--range-controls-shadow);
  cursor: pointer;
}

.price-controls {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 260px;
}

.price-controls input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  width: 80px;
  margin-left: 8px;
  padding: 10px 8px 8px 8px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: var(--basic-grey);
}

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls input[type="number"] {
  -moz-appearance: textfield;
}
.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
  -moz-appearance: number-input;
}

.features-filter {
  margin-bottom: 50px;
}

.grid-filter-item label,
.features-filter-item label {
  display: block;
  line-height: 19px;
  margin-left: 36px;
  position: relative;
  cursor: pointer;
}

.min-price {
  padding-top: 1px;
}

.filter-block .grid-filter {
  margin-bottom: 46px;
}
.grid-filter-item:not(:last-child),
.features-filter-item:not(:last-child) {
  margin-bottom: 21px;
}

.grid-filter-item input + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border: 4px solid var(--radio-grey);
  border-radius: 50%;
  left: -36px;
  top: -3px;
  opacity: 0.4;
}

.grid-filter-item input:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 5px;
  left: -28px;
  background-color: var(--radio-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.grid-filter-item:hover input + label::before,
.grid-filter-item:hover input:checked + label::after {
  opacity: 1;
}

.grid-filter-item input[name="product-grid"]:focus + label::before,
.grid-filter-item input[name="product-grid"]:focus + label::after {
  opacity: 1;
}

.filter-block .features-filter {
  margin-bottom: 51px;
}

.features-filter-item input + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -37px;
  top: -3px;
  background: url(../img/checkbox-off.svg) no-repeat center center;
  opacity: 0.4;
}

.features-filter-item input[type="checkbox"]:hover + label::before {
  opacity: 1;
}

.features-filter-item input:checked + label::before {
  background: url(../img/checkbox-on.svg) no-repeat center center;
  left: -36px;
}

.grid-filter-item input[disabled] + label::before,
.grid-filter-item input[disabled] + label::after,
.features-filter-item input[disabled] + label::before,
.features-filter-item input[disabled] + label::after {
  opacity: 0.3;
}

.grid-filter-item input[disabled] + label,
.features-filter-item input[disabled] + label {
  opacity: 0.3;
}

.filter-block-button {
  font-weight: 500;
  line-height: 18px;
  width: 260px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.filter-block-button:active {
  color: var(--active-pagination-item);
}

.filter-block-button:hover {
  background-color: var(--basic-gray-hover);
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sort-title {
  margin: 0;
  margin-right: auto;
}

.sort-by-property-item {
  margin-right: 2px;
  margin-top: 3px;
}

.sort-by-property-item:not(:last-child) {
  margin-right: 25px;
}

.sort-by-property-list,
.sort-from-to-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sort-by-property-link,
.sort-from-to-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.sort-from-to-list {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-from-to-link {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 11px;
  height: 10px;
  vertical-align: middle;
}

.sort-down {
  background: url(../img/icon-down-dir.svg) no-repeat center center;
}

.sort-up {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url(../img/icon-down-dir.svg) no-repeat center center;
}

.sort-by-property-link:hover,
.sort-from-to-link:hover {
  opacity: 0.6;
}

.sort-by-property-link:active,
.sort-from-to-link:active {
  opacity: 1;
}

.sort-by-property-link:active {
  color: var(--basic-black);
  opacity: 1;
}

.current-sort-link {
  opacity: 1;
}

.products {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 2/-1;
  row-gap: 31px;
  -webkit-column-gap: 42px;
  -moz-column-gap: 42px;
  column-gap: 42px;
}

.products-list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 42px 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 31px;
  -webkit-column-gap: 42px;
  -moz-column-gap: 42px;
  column-gap: 42px;
}

.product-card {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--product-card-border);
  border-radius: 5px;
  height: 620px;
}

.product-card:hover {
  -webkit-box-shadow: 0px 6px 15px var(--product-card-shadow);
  box-shadow: 0px 6px 15px var(--product-card-shadow);
}

.card-top {
  background-color: var(--catalog-win-color);
  width: 100%;
  height: 40px;
}

.product-card:hover .card-top {
  background-color: var(--radio-grey);
}

.product-card-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  background-color: var(--basic-grey);
  padding: 26px 45px 41px 45px;
  z-index: -1;
  bottom: 0px;
}

.product-card:hover .product-card-wrapper {
  z-index: 1;
}

.card-top-circles {
  padding-top: 13px;
  margin-left: 15px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-card .circle {
  display: inline-block;
  vertical-align: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: -3px;
  color: var(--basic-black);
}

.card-title:hover,
.card-title:focus {
  color: var(--basic-red);
}
.card-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.card-img {
  -o-object-fit: contain;
  object-fit: contain;
}

.card-text {
  line-height: 18px;
  margin-bottom: 32px;
  max-height: 430px;
  max-width: 267px;
  color: var(--contact-text-color);
  word-wrap: break-word;
}

.card-button {
  width: 200px;
}

.card-button:hover,
.card-button:focus {
  background-color: var(--button-color-red-hover);
}

.card-button:active {
  background-color: var(--button-color-red-active);
}

.product-card-wrapper:focus-within {
  z-index: 1;
}

.product-card:focus-within {
  -webkit-box-shadow: 0px 4px 4px var(--product-card-shadow);
  box-shadow: 0px 4px 4px var(--product-card-shadow);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination-item a {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 11px;
  margin-top: 25px;
}

.pagination-prev {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.pagination-prev a {
  width: 260px;
}

.pagination-next {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.pagination-next a {
  width: 260px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-gray-hover);
}

.current-pagination-item a {
  background-color: transparent;
  border: 3px solid var(--current-pagination-item);
  border-radius: 3px;
  width: 44px;
  height: 44px;
}

.pagination-item a:active {
  background: var(--basic-gray-active);
  -webkit-box-shadow: inset 0px 3px 0px var(--darker-pagination-item);
  box-shadow: inset 0px 3px 0px var(--darker-pagination-item);
  color: var(--active-pagination-item);
}
/* catalog */

/*blank page*/
.page-blank .main-header {
  padding-bottom: 50px;
}

.blank-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 80px;
}
/*blank page*/

/* modal */
.modal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 960px;
  height: 590px;
  padding: 63px 100px 84px 100px;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 20px 40px var(--modal-shadow);
  box-shadow: 0px 20px 40px var(--modal-shadow);
  z-index: 1;
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-animation-open {
  -webkit-animation-name: modal-open;
  animation-name: modal-open;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.modal-title {
  margin: 0;
  padding: 0 0 37px 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal-form {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 34px;
  -ms-grid-columns: 360px 40px 360px;
  grid-template-columns: 360px 360px;
}

.modal-group-textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 13px;
}

.modal-group textarea,
.modal-group input {
  width: 100%;
  border: 2px solid var(--scale-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;
}

.modal-group textarea:hover,
.modal-group input:hover {
  border-color: var(--input-hover-color);
}

.modal-group textarea:focus,
.modal-group input:focus {
  border-color: var(--basic-black);
  outline: none;
}

.modal-group .is-empty {
  border: 2px solid var(--button-color-red-hover);
}

.modal-group .is-empty::-webkit-input-placeholder {
  color: var(--button-color-red-hover);
}

.modal-group .is-empty::-moz-placeholder {
  color: var(--button-color-red-hover);
}

.modal-group .is-empty:-ms-input-placeholder {
  color: var(--button-color-red-hover);
}

.modal-group .is-empty::-ms-input-placeholder {
  color: var(--button-color-red-hover);
}

.modal-group .is-empty::placeholder {
  color: var(--button-color-red-hover);
}

.modal-group .is-empty:hover,
.modal-group .is-empty:focus {
  border: 2px solid var(--button-color-red-hover);
}

.modal label {
  font-weight: bold;
  line-height: 18px;
  display: block;
  margin-bottom: 9px;
}

.modal-group-textarea textarea {
  resize: none;
}

.modal-button {
  width: 260px;
}

.modal-button:hover {
  background-color: var(--button-color-red-hover);
}

.modal-button:active {
  background-color: var(--button-color-red-active);
}

.modal-close-wrapper {
  position: absolute;
  top: 78px;
  right: 90px;
}

.modal-close {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  position: relative;
  background: url(../img/close-cross.svg) no-repeat center center;
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/* modal */
